@font-face {
  font-family: 'Brasika Display';
  src: url('src/assets/fonts/brasika-display-trial.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  src: url(src/assets/fonts/Lora-VariableFont_wght.ttf) format('truetype');
}

 /* section {
    margin: 10px;
    font-family: 'Lora', serif;
  }*/